<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head" >
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="layout/Plantilla:: header"/>
        <div class="contenido">
            <h2 th:text="#{articulo.titulo}">Articulos</h2>
            <a th:href="@{/articulo/nuevo}" th:text="#{articulo.nuevo}">Nuevo Articulo</a>
            <br>
            <br>
            <br>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                    <th th:text="#{articulo.descripcion}">Descripcion</th>
                    <th th:text="#{articulo.precio}">Precio</th>
                    <th th:text="#{articulo.existencias}">Existencias</th>
                    <th th:text="#{articulo.activo}">Activa</th>
                    <th th:text="#{accion.actualizar}">Actualizar</th>
                    <th th:text="#{accion.eliminar}">Eliminar</th>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td th:text="${articulo.descripcion}" th:text="#{articulo.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(articulo.precio, 3, 2)}" th:text="#{articulo.precio}"></td>
                            <td th:text="${articulo.existencias}" th:text="#{articulo.existencias}"></td>
                            <td><input type="checkbox" name="activa" th:checked="${articulo.activo}" disable="true"
                                       th:text=#{articulo.activo}"></td>
                            <td><a th:href="@{/articulo/modificar/} + ${articulo.idArticulo}" class="nav-menu-link link"
                                   "#{accion.actualizar}">Modificar</a></td>
                            <td><a th:href="@{/articulo/eliminar/} + ${articulo.idArticulo}" class="nav-menu-link link"
                                   "#{accion.eliminar}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null and articulos.empty}">
                <p th:text="#{articulos.no_mostrar}">No hay articulos...</p>
            <div/>
            <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>